.header img{
    height: 100px;
    margin: 0 auto;
    display: block;
  }
.header nav{
    background-color: black;
    font-size: 20px;
    line-height: 35px;
}
.header nav a{
    text-decoration: none;
    margin-right: 10px;
    padding: 5px 15px;
    color: wheat;
}

.header nav a:hover{
    background-color: gray;
}
.header button{
    float: right;
    background-color: rgb(248, 248, 246);
    color: black;
    margin: 0px;
    padding: 0px;
    border: none;
    border-radius: 0px;
    font-size: 20px;
    height: 35px;
    width: 100px;
}